body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Audiowide", cursive;
}

#header {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  top: 0;
  left: 0;
}

//Panel startowy
//Kursor - okrągły
.crosshair {
  pointer-events: none;
  z-index: 1000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -9999px;
  transform: translate(-50%, -50%);
}

//Kropka w środku kursora
.crosshair::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
}

//Click here - rozpoczęcie gry
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.title__start {
  color: navy;
  font-size: 3.5em;
  text-align: center;
  animation: zoomInDown 5s infinite;
}

.btn__start {
  color: red;
  font-size: 2em;
  font-weight: bold;
  width:10em;
  height: 5em;
  border: 0;
  font-family: "Audiowide", cursive;
  animation: flash 1.8s infinite;
  outline: 0;
  background: 0;
}

//Animacje start
@keyframes flash {
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 200px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

//Canvas
#space-box {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

//Earth
.earth {
  background-image: url(../image/earth.png);
  transform: scale(0.7);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 5%;
  left: -2%;
  z-index: 2;
  height: 100%;
  width: 100%;
}

//Punktacja
.score {
  display: none;
  position: absolute;
  right: 1.5%;
  top: 2%;
  z-index: 6;
  color: #fff;
  font-size: 5em;
  background: radial-gradient(lime, navy);
  border-radius: 30%;
}

//Runda 1
//Text
.level1 {
    display: none;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}

.text__level1 {
    color: lime;
    margin: 0;
    font-size: 8rem;
    width: 600px;
    animation-name: heartBeat;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

.btn__level1 {
    background: radial-gradient(lime, navy);
    color: navy;
    border-radius: 100%;
    font-size: 5em;
    width: 2em;
    height: 2em;
    font-family: "Audiowide", cursive;
    animation: flash 1.8s infinite;
    outline: 0;
    border: 0;
} 

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.6;
  }
}


//Meteoryty - level1 1
.metLevel1Top {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameRight.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: calc(100% + 20%);
  animation: 
        animLevel1Top 8s 0s infinite linear,
        walkLevel1Top 4s 0s 0.8 ease-in forwards;
}

@keyframes animLevel1Top {
  100% {
      background-position-x: right;
  }
}
@keyframes walkLevel1Top {
  100% {
      left: -80%;
  }
}

.metLevel1Bottom {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameRight.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: calc(100% + 20%);
  animation: 
        animLevel1Bottom 4s 0s infinite linear,
        walkLevel1Bottom 2s 0s 0.8 ease-out forwards;
}

@keyframes animLevel1Bottom {
  100% {
      background-position-x: right;
  }
}
@keyframes walkLevel1Bottom {
  100% {
      left: -80%;
  }
}

.metLevel1Center {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameRight.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: calc(100% + 20%);
  animation: 
        animLevel1Center 6s 0s infinite linear,
        walkLevel1Center 4s 0s 0.5 linear forwards;
}

@keyframes animLevel1Center {
  100% {
      background-position-x: right;
  }
}
@keyframes walkLevel1Center {
  100% {
      left: -20%;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(0.5, 0.5, 0.5);
  }

  50% {
    transform: scale3d(1.3, 1.3, 1.3);
  }
}

//Runda 2
//Text
.level2 {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

.text__level2 {
  color: lime;
  margin: 0;
  font-size: 8rem;
  width: 600px;
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

@keyframes heartBeat {
0% {
  transform: scale(1);
}

14% {
  transform: scale(1.3);
}

28% {
  transform: scale(1);
}

42% {
  transform: scale(1.3);
}

70% {
  transform: scale(1);
}
}

.btn__level2 {
  background: radial-gradient(lime, navy);
  color: navy;
  border-radius: 100%;
  font-size: 5em;
  width: 2em;
  height: 2em;
  font-family: "Audiowide", cursive;
  animation: flash 1.8s infinite;
  outline: 0;
  border: 0;
} 

//Meteoryty - level2
.metLevel2Top {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameLeft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  right: calc(100% + 20%);
  animation: 
        animLevel2Top 8s 0s infinite linear,
        walkLevel2Top 4s 0s 0.8 linear forwards;
}

@keyframes animLevel2Top {
  100% {
      background-position-x: left;
  }
}
@keyframes walkLevel2Top {
  100% {
      right: -80%;
  }
}

.metLevel2Bottom {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameLeft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  right: calc(100% + 20%);
  animation: 
        animLevel2Bottom 4s 0s infinite linear,
        walkLevel2Bottom 2s 0s 0.8 linear forwards;
}

@keyframes animLevel2Bottom {
  100% {
      background-position-x: left;
  }
}
@keyframes walkLevel2Bottom {
  100% {
      right: -80%;
  }
}

.metLevel2Center {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameLeft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  right: calc(100% + 20%);
  animation: 
        animLevel2Center 6s 0s infinite linear,
        walkLevel2Center 4s 0s 0.5 linear forwards;
}

@keyframes animLevel2Center {
  100% {
      background-position-x: left;
  }
}
@keyframes walkLevel2Center {
  100% {
      right: -50%;
  }
}


// Meteoryty - level 3
.metLevel3Center {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameRight.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: calc(100% + 20%);
  animation: 
        animLevel3Center 5s 0s infinite linear,
        walkLevel3Center 3s 0s 0.5 linear forwards;
}
@keyframes animLevel3Center {
  100% {
      background-position-x: right;
  }
}
@keyframes walkLevel3Center {
  100% {
      left: -10%;
  }
}

//Round 3
//Text
.level3 {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

.text__level3 {
  color: lime;
  margin: 0;
  width: 600px;
  font-size: 8rem;
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

@keyframes heartBeat {
0% {
  transform: scale(1);
}

14% {
  transform: scale(1.3);
}

28% {
  transform: scale(1);
}

42% {
  transform: scale(1.3);
}

70% {
  transform: scale(1);
}
}

.btn__level3 {
  background: radial-gradient(lime, navy);
  color: navy;
  border-radius: 100%;
  font-size: 5em;
  width: 2em;
  height: 2em;
  font-family: "Audiowide", cursive;
  outline: 0;
  border: 0;
  animation: flash 1.8s infinite;
} 

// Meteoryty - level 3
.metLevel4Center {
  width: 20%;
  height: 10%;
  background-image: url(../image/flameLeft.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  top: 50%;
  right: calc(100% + 20%);
  animation: 
        animLevel4Center 6s 0s infinite linear,
        walkLevel4Center 4s 0s 0.5 linear forwards;
}
@keyframes animLevel4Center {
  100% {
      background-position-x: left;
  }
}
@keyframes walkLevel4Center {
  100% {
      right: -40%;
  }
}

//Wybuch - widok
.fireball {
  background-image: url(../image/fireball.png);
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

//Odświeżenie strony
.restart{
  display: none;
  font-family: "Audiowide", cursive;
  font-size: 3em;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: white;
  background: 0;
  width: 220px;
  height: 70px;
  outline: none;
  border: none;
}

// Licznik czasu
.clock {
  color: white;
  position: absolute;
  font-size: 5em;
  z-index: 6;
  left: 1.5%;
  top: 2%;
  margin: 0;
  padding: 0;
}

//Widok - koniec gry
.winner {
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  color: lime;
  margin: 0;
  font-size: 5rem;
  text-align: center;
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

//Text - record
.record__text {
  display: none;
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 3;
  color: red;
  margin: 0;
  font-size: 3rem;
  width: 100%;
  height: 100%; 
  text-align: center;
}

//Media
@media (max-width: 800px) {
  .score {
    font-size: 3em;
  }
  .level1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
  }
  .text__level1 {
      font-size: 3em;
  }
  .btn__level1 {
      font-size: 3em;
  }
  .level2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .text__level2 {
      font-size: 3em;
  }
  .btn__level2 {
      font-size: 3em;
  }
  .level3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .text__level3 {
    font-size: 3em;
  }
  .btn__level3 {
    font-size: 3em;
  }
  .winner {
    font-size: 3em;
  }
  .clock {
    font-size: 3em;
  }
}

@media(max-width: 410px) {
  .score {
    font-size: 1.1em;
  }
  .clock {
    font-size: 1.1em;
  }
}